<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "style" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <header>
        <div class="wrapper">
            <img src="/assets/logo.png">
            <span>Twitter Clone</span>
            <% if current_user %>
		<%= link_to "Public Tweets", tweets_path %>
                <%= link_to "Buddies' Tweets", buddies_path %>
                <%= link_to "Public Profiles", users_path %>
                <%= link_to "My Profile", current_user %>
		 Logged in as <%= current_user.email %>.
		  <%= link_to "Log Out", log_out_path %>
	     <% else %>
		  <%= link_to "Sign Up", new_user_path %> or
		  <%= link_to "Log In", new_session_path %>
	    <% end %>
        </div>
    </header>
<div id="user_nav">


</div>

    <div id="content">
        <div class="wrapper">
            <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, class: "flash #{name}" %>
            <% end %>
            <%= yield %>
        </div>
    </div>
    <footer>
        <div class="wrapper">
            
        </div>
    </footer>
</body>
</html>
